body {
    font-family: Arial, sans-serif;
    background-color: #E8D5C4;
  }
  
  .container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #eda9a9;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);

  }
  
  h1 {
    text-align: center;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-top: 20px;
    font-weight: bold;
  }
  
  input[type="number"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"] {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #4c82af;
    color: #ff0000;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
  }
  
  input[type="submit"]:hover {
    background-color: #7079bd;
  }
  
  #result {
    margin-top: 20px;
    font-size: 24px;
    font-weight: bold;
    background-color: aqua;
  }
  